<div class="buses schedule" >
  <h1>Bus Stop: <%= stopName %> <small>Last Updated: <%= Time.now.strftime('%H:%M') %></small></h1>
<div class='bus-spinner centered'></div>
<table  class="buses table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Terminus</th>
            <th>Scheduled Arrival</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% for bus in  buses %>
            <tr>
              <td><%= bus[:line] %></td>
              <td><%= bus[:terminus] %></td>
              <td><%= DateTime.parse(bus[:time]).strftime('%H:%M') %></td>
              <td><%= bus[:status] %></td>
            
            </tr>
          <% end %>
        </tbody>
      </table>
</div>
<script>
  jQuery(function($) { $('#<%= stopId %>').addClass('active'); });
</script>
