 <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
   <div class="container">
     <div class="navbar-header">
       <a href="../" class="navbar-brand"><%= Date::DAYNAMES[Time.now.wday] %> <%= Date::MONTHNAMES[Time.now.month] %> <%= Time.now.day %>, <%= Time.now.year %>  Week: <%= Time.now.strftime('%U') %> </a>

   	
     </div>


   </div>
 </header>